.DS_Store
*VERSION
!lib/**/*VERSION
*.user
*.suo
*resharper.user
_ReSharper.*/
*.sln.cache
obj
bin
!lib/**/bin
temp
archive
symbols
/Reports/**
specifications/**
specifications.html
junit.report.xml
nunit.results.xml
/TestResult.xml
VersionOne.Domain/Sql2k/DataSchema.sql
VersionOne.Web/user*.config
VersionOne.Web/scripts/_V1.js
VersionOne.Web/scripts/views/**/all.html.tmpl
VersionOne.Web/MetaDomain/UIMeta.Implementation.cs.xml
VersionOne.Web/help/
VersionOne.Setup-*.exe
user*.config
.nuget/
packages/

